<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome applicant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <h1><b>Edit applicant</b></h1>
        <hr>
        <h3>Enter new details</h3>
        <hr>
        <form name="form", action="/update/{{applicant.id}}", method = "POST", enctype="multipart/form-data" >
        {% csrf_token %}
            <div class="form-group">
                <label for="name">Enter Full name:</label>
                <input type="text" class="form-control" value={{applicant.name}} name="name">
            </div>
            <div class="form-group">
                <label for="email">Enter email id:</label>
                <input type="email" class="form-control" value={{applicant.email}} name="email">
            </div>
            <div class="form-group">
                <label for="mobile">Enter phone number:</label>
                <input type="text" class="form-control" value={{applicant.mobile}} name="mobile">
            </div>
            <div class="row">
                <div class="col-md-2">
                    <img src="{% static 'upload/' %}{{ applicant.uimage }}" alt="image" height="100" width="100">
                </div>
                <div class="col-md-10">
                    <label for="uimage">Upload new image:</label>
                    <input type="file" class="form-control" name="uimage">
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>         
</body>
</html>