/* light-mode.css */
body {
    background-color: rgb(205, 244, 244);
    color: #000000;
}

body .container-fluid {
    background-color: rgb(134, 134, 168) !important;
    padding: 20px !important;
    border-radius: 10px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

body .row {
    margin-top: 20px !important;
    background-color: rgb(129, 200, 160) !important;
}

body .form-group label {
    color: #000000 !important;
}

body .form-control {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #cccccc !important;
    border-radius: 5px !important;
}

body .form-control:focus {
    background-color: #ffffff !important;
    color: #000000 !important;
}
